[user]
	name = Gregory Graf
	email = ghg@users.noreply.github.com
[color]
	ui = true
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
        pager = cat
	autocrlf = input
[branch]
	autosetuprebase = always
[branch "master"]
	rebase = true
[push]
	default = current
[grep]
	lineNumber = true
[alias]
	g = grep --break --heading --line-number
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[commit]
	template = ~/.gitmessage

[init]
	defaultBranch = master
